@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.DeleteServiceErrorModel

<p>This is because there are outstanding connection requests on Connect families to support.</p>

<p>@Model.VcfsOrganisationName will need to accept or reject these requests. You can find someone who can manage requests by <a href="/AccountAdmin/ManagePermissions">checking the list of users</a>.</p>