@using FamilyHubs.SharedKernel.Razor.Urls
@model FamilyHubs.ServiceDirectory.Admin.Web.Pages.manage_services.DeleteServiceErrorModel

<p>This is because there are outstanding connection requests.</p>

<p>Someone from your organisation will need to accept or reject these requests. Anyone with access can do this by going to the <a href="@Html.FamilyHubUrl(UrlKeys.DashboardWeb, "/referrals/Vcs/Dashboard")" new-tab>‘My requests’ page on Connect families to support</a>.</p>