<div class="card">
    <h3 class="govuk-heading-s">
        <a asp-page="ManageOrganisations" asp-area="VcsAdmin">Manage VCS organisations</a>
    </h3>
    <p class="govuk-body-s">Add an organisation before adding permissions for its users.</p>

    <p class="govuk-body-s">You can also edit or delete existing organisations and view the services they offer.</p>
</div>