@page
@model FamilyHubs.Idams.Maintenance.UI.Pages.AddDfEAccountConfirmationModel
@{
    ViewData["Title"] = "DfE Account Confirmation";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                DfE Admin Account Created
            </h1>
            <div class="govuk-panel__body">
                Admin account for<br><strong>@Model.Name</strong>
            </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p>@Model.Name now has DfE Admin privalages.</p>
        <p>Return to: <a href="/Welcome" >Welcome Page</a></p>
    </div>
</div>
