@page
@model FamilyHubs.Idams.Maintenance.UI.Pages.CreateEncryptionKeysModel
@{
    ViewData["Title"] = "Db Encryption Keys";
}

@section Back {
    <a asp-page="Wecome" class="govuk-back-link">Back</a>
}

<h1 class="govuk-heading-l app-wrap-anywhere">New Database Encryption Keys</h1>

<p data-testid="db-encryption-key">DbEncryptionKey: @Model.DbEncryptionKey</p>

<p data-testid="db-encryption-iv-key">DbEncryptionIvKey: @Model.DbEncryptionIVKey</p>

<p>Return to: <a href="/Welcome">Welcome Page</a></p>
