@page
@model FamilyHubs.Idams.Maintenance.UI.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
}

<component type="typeof(Components.SectionBreakHeaderComponent)" param-Header='"Accounts"' render-mode="Static" />

<div class="cards">
    <div class="card">
        <h3 class="govuk-heading-s">
            <a asp-page-handler="AddDfEAdminAccount" id="add-dfeadmin">Add DfE Admin</a>
        </h3>
        <p class="govuk-body-s">Add a new DfE Admin.</p>
    </div>
    <div class="card">
        <h3 class="govuk-heading-s">
            <a asp-page-handler="ChangeUserPermissions" id="change-user-permissions">Manage User Role and Organisation</a>
        </h3>
        <p class="govuk-body-s">View and Manage User Role and Organisation.</p>
    </div>
    <div class="card">
        <h3 class="govuk-heading-s">
            <a asp-page-handler="CreateEncryptionKeys" id="create-encryption-keys">Create New Encryption Keys</a>
        </h3>
        <p class="govuk-body-s">Create New Database Encryption Keys.</p>
    </div>
</div>
