@using FamilyHubs.ServiceDirectory.Shared.ReferenceData
@using FamilyHubs.ServiceDirectory.Shared.ReferenceData.ICalendar
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

<button data-toggle-visibility-id="filters" id="open-close-filters"
        class="govuk-button govuk-button--secondary app-open-close-filters" data-module="govuk-button"
        type="button">Open / close filters
</button>

<div class="govuk-grid-column-one-third">
    <div class="moj-filter">
        <div class="moj-filter__selected">
            <div class="govuk-!-padding-bottom-4">
                <div class="moj-filter__selected-heading">
                    <div class="moj-filter__heading-title">
                        <h2 class="govuk-heading-m">Filter results</h2>
                    </div>
                    <div class="moj-filter__heading-action">
                        <a asp-page="/ProfessionalReferral/LocalOfferResults" asp-route-postcode="@Model.Postcode" asp-route-correlationid="@Model.CorrelationId" class="govuk-link govuk-link--no-visited-state" data-testid="clear-all-filters">Clear filters</a>
                    </div>
                </div>
            </div>
            
            @await Html.PartialAsync("LocalOfferResultsPartialViews/_RemoveFiltersSection", Model)
            
        </div>
        <div class="moj-filter__content">
            <div class="moj-filter__options">
                <div class="govuk-form-group">
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_Categories", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_Cost", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_DaysAvailable", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_Age", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_Languages", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_SearchWithin", Model)
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button"
                        data-test-id="submit-button">
                    Apply filters
                </button>

            </div>
        </div>
    </div>
</div>