@page
@model FamilyHubs.Referral.Web.Pages.Shared.HeaderPageModel
@{
    ViewData["Title"] = "You do not have permission to perform this action";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You do not have permission to perform this action</h1>
        <p>If you previously had access, permissions for this page may have been changed.</p>
        <p>If you think you should have access, contact the local authority that set up your permissions or <a asp-page="/Contact-Us/Index">contact us</a>.</p>

        <a asp-page="/Index" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
            Go to homepage
        </a>
    </div>
</div>
