@model Location

<div class="app-service">
    <div class="govuk-summary-list__row">
        <div class="govuk-summary-list__key">
            @*todo: description on view enum? - think it will come from db*@
            <span class="govuk-caption-m govuk-!-margin-top-3">Test</span>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Model.Name <span class="govuk-!-font-weight-regular"> (@Model.Distance?.ToString("0.0") miles)</span></h3>
        </div>
    </div>

    <dl class="govuk-summary-list govuk-summary-list--no-border">

        <partial name="_SummaryListRows" model='("Where", Model.Address)' />
        <partial name="_SummaryListRow" model='("More details", Model.MoreDetails)' />
    </dl>
</div>