@model Service

@* todo: use summary list tag helpers *@

<div class="app-service">
    <div class="govuk-summary-list__row">
        <div class="govuk-summary-list__key">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">@Model.Name <span class="govuk-!-font-weight-regular"> (@Model.Distance?.ToString("0.0") miles)</span></h3>
        </div>
    </div>

    <dl class="govuk-summary-list govuk-summary-list--no-border">

        <partial name="_SummaryListRows" model='("Category", Model.Categories)' />
        <partial name="_SummaryListRow" model='("Age range", Model.AgeRange)' />
        <partial name="_SummaryListRows" model='("When", Model.When)' />

        <partial name="_SummaryListRows" model='("Where", Model.Where)' />
        <partial name="_SummaryListRows" model='("Delivery method", Model.ServiceDeliveries)' />
        
        
            
        @*todo: default not nice*@
        <partial name="_SummaryListLink" model='("Phone", Model.Phone, LinkType.Phone, default(string?))' />
        <partial name="_SummaryListLink" model='("Email", Model.Email, LinkType.Email, default(string?))' />
        <partial name="_SummaryListLink" model='("Website", Model.WebsiteUrl, LinkType.WebPageInNewTab, Model.WebsiteName)' />

        <partial name="_SummaryListRows" model='("Cost", Model.Cost)' />
    </dl>
</div>