@using System.Web
@using Microsoft.AspNetCore.Http.Extensions
@model Service

@* todo: use summary list tag helpers *@

<div class="app-service">
    <div class="govuk-summary-list__row">
        <div class="govuk-summary-list__key">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><a asp-page="/ServiceDetail/Index" asp-route-serviceId="@Model.ServiceId" asp-route-fromUrl="@HttpUtility.UrlDecode(Context.Request.GetEncodedPathAndQuery())">@Model.Name</a> <span class="govuk-!-font-weight-regular"> (@Model.Distance?.ToString("0.0") miles)</span></h3>
        </div>
    </div>

    <dl class="govuk-summary-list govuk-summary-list--no-border">

        <partial name="_SummaryListRows" model='("Category", Model.Categories)' />
        <partial name="_SummaryListRow" model='("Age range", Model.AgeRange)' />

        @if (Model.Where.Any())
        {
            <partial name="_SummaryListRows" model='("Where", Model.Where)' />
        }

        <partial name="_SummaryListRows" model='("Delivery method", Model.DeliveryMethods)' />

        <partial name="_SummaryListRows" model='("Cost", Model.Cost)' />
    </dl>
</div>