@using FamilyHubs.ServiceDirectory.Shared.ReferenceData.ICalendar
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

<div class="filters-component__groups__group border-bottom govuk-!-padding-bottom-3">
    <div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">Days service is available</h3>
                </legend>
                <div class="govuk-hint">Select specific days, if applicable</div>
                <div class="govuk-checkboxes govuk-checkboxes--small"
                     data-module="govuk-checkboxes">
                    @foreach (DayCode dayOfWeek in Enum.GetValues(typeof(DayCode)))
                    {
                        string dayOfWeekId = $"days-{dayOfWeek}";
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input"
                                   id=@dayOfWeekId
                                   data-testid=@dayOfWeekId
                                   name="DaysAvailable"
                                   type="checkbox"
                                   value=@dayOfWeek
                                   @(Model.DaysAvailable?.Any(x => x == dayOfWeek.ToString()) == true ? "checked" : "")>
                            <label class="govuk-label govuk-checkboxes__label"
                                   for=@dayOfWeekId>
                                @Calendar.DayCodeToName[dayOfWeek.ToString()]
                            </label>
                        </div>
                    }
                </div>
            </fieldset>
        </div>
    </div>
</div>