@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

<div class="filters-component__groups__group border-bottom govuk-!-padding-bottom-3">
    <div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Age
                </legend>
                <div class="govuk-hint">Select child's age</div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-checkboxes govuk-checkboxes--small"
                             data-module="govuk-checkboxes">
                            @foreach (var ageRange in LocalOfferResultsModel.AgeRange)
                            {
                                string ageRangeId = $"age-${ageRange.Value}";
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input"
                                           id=@ageRangeId
                                           data-testid=@ageRangeId
                                           name="SelectedAges" 
                                           type="checkbox"
                                           value=@ageRange.Value @(Model.SelectedAges?.Any(x => x == ageRange.Value) == true ? "checked" : "")>
                                    <label class="govuk-label govuk-checkboxes__label"
                                           for=@ageRangeId>
                                        @ageRange.Text
                                    </label>
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>
            </fieldset>
        </div>
    </div>
</div>