@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

<fieldset class="govuk-fieldset result-filters">
    <div class="filters-component__groups">
        <div class="filters-component__groups__group" data-filters-target="group" data-group="subjects">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">Category</h3>
                </legend>
                <div class="filters-component__groups__group">
                    @foreach (var categoryPair in Model.NestedCategories)
                    { 
                        <details class="govuk-details custom-filter border-bottom govuk-!-padding-bottom-2 govuk-!-padding-top-1">
                            <summary class="govuk-details__summary">
                                <span
                                    class="govuk-details__summary-text govuk-fieldset__legend--s">
                                    @categoryPair.Key.Name
                                </span>
                            </summary>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div
                                        class="govuk-checkboxes govuk-checkboxes--small"
                                        data-module="govuk-checkboxes">
                                        @foreach (var subCategory in categoryPair.Value)
                                        {
                                            string subCategoryId = $"{subCategory.Name.ToLower().Replace(" ", "-")}";
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input"
                                                       id=@subCategoryId
                                                       data-testid=@subCategoryId
                                                       name="SubcategorySelection"
                                                       type="checkbox"
                                                       value=@subCategory.Id @(Model.SubcategorySelection is not null && Model.SubcategorySelection.Any(x => x == subCategory.Id.ToString()) ? "checked" : "")>
                                                <label
                                                    class="govuk-label govuk-checkboxes__label"
                                                    for=@subCategoryId>
                                                    @subCategory.Name
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </fieldset>
                            </div>
                        </details>
                    }
                </div>
            </fieldset>
        </div>
    </div>
</fieldset>