@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

<div class="filters-component__groups__group border-bottom govuk-!-padding-bottom-3 govuk-!-padding-top-3">
    <div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">Cost</h3>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small"
                     data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" 
                               id="cost"
                               data-testid="cost-free"
                               name="OnlyShowFreeServices"
                               type="checkbox"
                               value="true"
                               @(Model.OnlyShowFreeServices ? "checked" : "")>
                        <label class="govuk-label govuk-checkboxes__label" for="cost">
                            Only show free services
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>