@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

<div
    class="filters-component__groups__group border-bottom govuk-!-padding-bottom-3">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h3 class="govuk-fieldset__heading">Language</h3>
            </legend>
            <select id="SelectedLanguage" data-testid="select-language" class="govuk-select">
                @foreach (SelectListItem language in LocalOfferResultsModel.LanguageOptions)
                {
                    <option value=@language.Value data-testid="language-@language.Text">@language.Text</option>
                }
            </select>
        </fieldset>
    </div>
</div>