@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

<div class="filters-component__groups__group border-bottom govuk-!-padding-bottom-3 govuk-!-padding-top-3">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h3 class="govuk-fieldset__heading">Search within</h3>
            </legend>
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                @foreach (var distanceRange in LocalOfferResultsModel.DistanceRange)
                {
                    string searchWithinId = $"search-within-{distanceRange.Value}";
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" 
                               id=@searchWithinId 
                               data-testid=@searchWithinId
                               name="SelectedDistance" 
                               type="radio"
                               value=@distanceRange.Value @(Model.SelectedDistance?.Equals(distanceRange.Value) == true ? "checked" : "")>
                        <label class="govuk-label govuk-radios__label" for=@searchWithinId>
                            @distanceRange.Text
                        </label>
                    </div>
                }
            </div>
        </fieldset>
    </div>
</div>