@{
    Layout = "~/pages/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1>Example Area Layout</h1>

        @RenderBody()
    </div>
</div>
