@page
@model IndexModel

@section Head {
    <title>Section title</title>
}

@section Back {
    <a href="/">Back</a>
}

@section Scripts {
    <script asp-add-nonce>
      alert("Hello, world!");
    </script>
}