@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gov Sign in demo</h1>
    <p>This is an example app demonstrating the use of GovLogin code within the SharedKernel</p>
</div>
