@page
@model GovSignInExample.Pages.TermsAndConditionsPageModel
@{
}
Terms and conditions page

<form method="post">
    <input type="hidden" id="ReturnPath" name="ReturnPath" asp-for="ReturnPath" />
    <button type="submit">Accept</button>
</form>