@page
@model IndexModel
@{
    ViewData["Title"] = "Received requests";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Family Hubs Example</h1>
        
        <p>An example site for documentation and testing.</p>
        
        <h2 class="govuk-heading-m">Examples:</h2>

        <ul class="govuk-list">
            <li><a asp-area="ExampleArea" asp-page="/AreaPage/Index">Area Page</a></li>
            <li><a href="/Examples/AddAnother">Add Another</a></li>
            <li><a href="/Examples/Cookie">Cookie Page</a></li>
            <li><a href="/health">Health Check</a></li>
            <li><a href="/Examples/OpenClose">Open close button (mobile)</a></li>
            <li><a href="/Examples/Sections">Sections</a></li>
            <li><a href="/Examples/Styles">Styles</a></li>
            <li><a href="/Examples/SummaryCard">Summary Card</a></li>
            <li><a href="/Examples/SummaryList">Summary List</a></li>
            <li><a href="/Examples/Urls">Urls</a></li>
            <li><a href="/Examples/VisibilityToggle">Visibility Toggle</a></li>
        </ul>

        <h3 class="govuk-heading-s">Alternatives:</h3>
        
        <ul class="govuk-list">
            <li><a href="/Examples/Alternative">Alternative service</a></li>
            <li><a href="/Examples/Alternative/UrlInheritance">Url inheritance</a></li>
        </ul>

        <h3 class="govuk-heading-s">Back links:</h3>

        <ul class="govuk-list">
            <li><a href="/Examples/BackLinks">Back Links</a></li>
            <li><a href="/Examples/BackLinks" new-tab>Back Links</a></li>
        </ul>

        <h3 class="govuk-heading-s">Dashboard:</h3>

        <ul class="govuk-list">
            <li><a href="/Examples/Dashboard">Dashboard (no pagination)</a></li>
            <li><a href="/Examples/Dashboard/PaginatedDashboard">Paginated Dashboard</a></li>
        </ul>

        <h3 class="govuk-heading-s">Errors:</h3>

        <ul class="govuk-list">
            <li><a href="/Examples/Errors/ErrorNext">Error Handling</a></li>
            <li><a href="/error/test">500</a></li>
            <li><a href="/foo/bar">404</a></li>
        </ul>

        <h3 class="govuk-heading-s">Full pages:</h3>

        <ul class="govuk-list">
            <li><a href="/Examples/FullPages/SingleAutocomplete/SingleAutocomplete">Single autocomplete</a></li>
            <li><a href="/Examples/FullPages/SingleAutocomplete/SingleAutocomplete-Custom">Single autocomplete with custom content</a></li>
            <li><a href="/Examples/FullPages/SingleTextbox/SingleTextbox">Single textbox</a></li>
            <li><a href="/Examples/FullPages/SingleTextbox/SingleTextboxSeparateHeader">Single textbox (separate header)</a></li>
            <li><a href="/Examples/FullPages/SingleTextarea/SingleTextArea">Single text area</a></li>
            <li><a href="/Examples/FullPages/Radios/Radio">Radio</a></li>
            <li><a href="/Examples/FullPages/Radios/Radio-Inline">Inline Radio</a></li>
            <li><a href="/Examples/FullPages/Radios/Radio-Custom">Radio with custom content</a></li>
            <li><a href="/Examples/FullPages/Checkboxes/Checkbox-Custom">Checkbox with custom content</a></li>
        </ul>

        <h3 class="govuk-heading-s">Header:</h3>
        
        <ul class="govuk-list">
            <li><a href="/Examples/HeaderLinks">Simple</a></li>
            <li><a href="/Examples/HeaderLinks/Status/GetStatus">Link status using GetStatus</a></li>
            <li><a href="/Examples/HeaderLinks/Status/Links">Link status using xLinks methods</a></li>
            <li><a href="/Examples/HeaderLinks/LinkModification/Adding">Adding links</a></li>
            <li><a href="/Examples/HeaderLinks/LinkModification/Removing">Removing links</a></li>
            <li><a href="/Examples/HeaderLinks/LinkModification/Reordering">Reordering links</a></li>
            <li><a href="/Examples/HeaderLinks/LinkModification/Replace">Replacing links</a></li>
            <li><a href="/Examples/HeaderLinks/LinkModification/ReplaceWithAlternative">Replacing links with configured alternative</a></li>
        </ul>
        
        <h3 class="govuk-heading-s">Pagination:</h3>
        
        <ul class="govuk-list">
            <li><a href="/Examples/Pagination/LargeSetPagination">Get</a></li>
            <li><a href="/Examples/Pagination/LargeSetPaginationForm">Post/Form based</a></li>
        </ul>

        <h3 class="govuk-heading-s">Tag helpers:</h3>
        
        <ul class="govuk-list">
            <li><a href="/Examples/TagHelpers/a">Anchor</a></li>
        </ul>

        <h3 class="govuk-heading-s">Time:</h3>
        
        <ul class="govuk-list">
            <li><a href="/Examples/Time">Time</a></li>
        </ul>

    </div>
</div>
