<h1 class="govuk-label--l">
    Is there anything else people need to know about this location?
</h1>
<p>You must only include information about this location. For example:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>opening times for the building</li>
    <li>if the building is wheelchair accessible</li>
    <li>how to access the building</li>
</ul>
