@page
@model FamilyHubs.Referral.Web.Pages.Shared.HeaderPageModel
@{
    ViewData["Title"] = "Privacy notice";
}

@section Back {
    <a class="govuk-back-link fh-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Privacy notice</h1>

        <p>Find support for parents, carers and young people is provided by the Department for Education (DfE). It
            stores no data when you search for services but do not sign in.</p>
        <p>We collect a postcode when you search for services. However, we do not combine this with any other
            information such as cookies data.</p>

        <h2 class="govuk-heading-m">Local authority (LA) and voluntary, community and faith sector (VCFS)
            practitioners</h2>

        <p>In a previous version of the service LA and VCFS practitioners had the option to sign in. We have now turned
            this off. However, we are still including details here of what happens if you were to sign in to Find
            support for parents, carers and young people.</p>
        <p>When you sign in the information is encrypted and stored in Find support for parents, carers and young
            people.</p>
        <p>The Department for Education is joint data controller with various local authorities for data collected
            within this service. The local authority that your account is associated with shares data controller
            responsibility for your account with DfE.</p>
        <p>A data controller determines how and why personal data is processed. For more information, read the <a
                href="https://ico.org.uk/ESDWebPages/Entry/Z1001723">Department for Education’s entry in the Data
                Protection Public Register</a>.</p>

        <h3 class="govuk-heading-s">Authentication with GOV.UK One Login</h3>

        <p>We use GOV.UK One Login to sign you in to Find support for parents, carers and young people. GOV.UK One Login
            is provided by the Cabinet Office, who is an independent data controller. For more information about what
            data they collect and why, read the <a href="https://signin.account.gov.uk/privacy-notice">GOV.UK One Login
                privacy notice</a>.</p>

        <h3 class="govuk-heading-s">What data we collect</h3>

        <p>The personal data we collect from you is:</p>
        <ul class="govuk-list--bullet">
            <li>your name</li>
            <li>your email address</li>
        </ul>

        <p>Where you provide your consent, we use <a href="https://support.google.com/analytics/topic/2919631">Google
                Analytics</a> and <a href="https://privacy.microsoft.com/en-GB/privacystatement">Microsoft Clarity</a>
            cookies. They process information about:</p>
        <ul class="govuk-list--bullet">
            <li>your Internet Protocol (IP) address</li>
            <li>your device and location</li>
            <li>the pages you visit in Find support for parents, carers and young people</li>
            <li>how you use Find support for parents, carers and young people</li>
            <li>how long you spend on each page and what you click on</li>
            <li>how you got to the service</li>
        </ul>

        <p>We will not combine analytics information with other data sets in a way that would directly identify you.</p>

        <h3 class="govuk-heading-s">Why we collect this data</h3>

        <p>We collect personal data to:</p>
        <ul class="govuk-list--bullet">
            <li>verify your identity</li>
            <li>analyse, monitor and improve the service</li>
        </ul>

        <h3 class="govuk-heading-s">How long we keep this data</h3>

        <p>We retain your personal data while you are an active user, and then for up to 7 years after the last time you
            use your Find support for parents, carers and young people account.</p>

        <h3 class="govuk-heading-s">Who we share this data with</h3>

        <p>As part of delivering the DfE services, we share your personal data with the local authority where you work,
            or where the service you are associated with operates.</p>

        <p>We will not:</p>
        <ul class="govuk-list--bullet">
            <li>sell or rent your data to third parties</li>
            <li>share your data with third parties for marketing purposes</li>
        </ul>

        <p>We will only share your personal data with other organisations if we are required to do so by law – for
            example, by court order, or to prevent fraud or other crime.</p>

        <h2 class="govuk-heading-m">Where this data is processed and stored</h2>

        <p>We design, build and run our systems to make sure that data is as safe as possible at any stage, both while
            it’s processed and when it’s stored.</p>
        <p>Your personal data is stored on our IT infrastructure and shared with our data processors, so it may be
            transferred and stored securely outside the United Kingdom. Where that’s the case it will be subject to
            equivalent legal protection through International Data Transfer Agreements or <a
                href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection/adequacy-decisions_en">Adequacy
                Decisions</a>.</p>
        <p>The data we collect with Google Analytics cookies is transferred and stored with Google, where we analyse it
            with Google Analytics software (GA4). We do not allow Google to use or share this data for their own
            purposes.</p>

        <h2 class="govuk-heading-m">How we protect this data and keep it secure</h2>

        <p>We are committed to keeping your data secure. We have procedures in place to secure your data and prevent
            unauthorised access or disclosure. For example, we protect data using varying levels of encryption. We also
            make sure that any third parties that we deal with keep all personal data they process on our behalf
            secure.</p>

        <h2 class="govuk-heading-m">Personal data rights</h2>

        <p>You have the right to:</p>
        <ul class="govuk-list--bullet">
            <li>request that we remove your personal data from the system</li>
            <li>request a copy of your personal data - this will be provided in a structured, commonly used and
                machine-readable format
            </li>
        </ul>

        <p><a href="https://ico.org.uk/for-the-public/">Find out more about your personal data rights</a>.</p>

        <h2 class="govuk-heading-m">Questions and complaints</h2>

        <h3 class="govuk-heading-s">Contact your local authority</h3>

        <p><a href="https://www.gov.uk/find-local-council">Contact your local council</a> to access, update or correct
            the information they hold on you.</p>

        <h3 class="govuk-heading-s">Contact the DfE</h3>

        <p>You can contact us by using our <a
                href="https://form.education.gov.uk/service/Contact_the_Department_for_Education">secure contact
                form</a> if you:</p>
        <ul class="govuk-list--bullet">
            <li>have any questions about anything on this page</li>
            <li>think that your personal data has been misused or mishandled</li>
            <li>want to <a
                    href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter#how-to-make-a-subject-access-requestmake">make
                    a subject access request (SAR)</a></li>
        </ul>

        <p>Read about <a
                href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">how
                the DfE handles personal information in the personal information charter</a>.</p>

        <h3 class="govuk-heading-s">Contact the Data Protection Officer</h3>

        <p>Contact the Data Protection Team with questions about how we use your information by:</p>
        <ul class="govuk-list--bullet">
            <li>using our secure <a href="https://form.education.gov.uk/service/Contact_the_Department_for_Education">contact
                    form</a></li>
            <li>email: <a
                    href="mailto:dataprotection.office@education.gov.uk">dataprotection.office@education.gov.uk</a></li>
            <li>
                writing to:
                <div class="govuk-inset-text">
                    <p>Data Protection Officer</p>
                    <p>Department for Education (B2.28)</p>
                    <p>7 & 8 Wellington Place</p>
                    <p>Wellington Street</p>
                    <p>Leeds</p>
                    <p>LS1 4AW</p>
                </div>
            </li>
        </ul>

        <h3 class="govuk-heading-s">How to make a complaint</h3>

        <p>If you have any concerns about how we use your personal information, you can make a complaint in writing to
            the Data Protection Officer:</p>
        <div class="govuk-inset-text">
            <p>Data Protection Officer</p>
            <p>Department for Education (B2.28)</p>
            <p>7 & 8 Wellington Place</p>
            <p>Wellington Street</p>
            <p>Leeds</p>
            <p>LS1 4AW</p>
        </div>

        <p>You can also complain to the Information Commissioner’s Office (ICO) if you are unhappy with how we have used
            your data by writing to:</p>
        <div class="govuk-inset-text">
            <p>Information Commissioner’s Office</p>
            <p>Wycliffe House</p>
            <p>Water Lane</p>
            <p>Wilmslow</p>
            <p>Chesire</p>
            <p>SK9 5AF</p>
        </div>

        <p>Alternatively, you can:</p>
        <ul class="govuk-list--bullet">
            <li><a href="https://ico.org.uk/global/contact-us/">contact the ICO online</a></li>
            <li>call the ICO helpline: 0303 123 1113</li>
        </ul>

        <h2 class="govuk-heading-m">Changes to this notice</h2>

        <p>This notice was last updated on 3 March 2025. It will be reviewed on 3 March 2026.</p>
        <p>We may change this privacy notice before its review date. When we make changes, we will add a change note at
            the bottom of this page. Any changes to this privacy notice will apply to you and your data immediately. If
            these changes affect how your personal data is processed, DfE will take reasonable steps to make sure you
            know.</p>

        <h2 class="govuk-heading-m">Our legal basis for processing your data</h2>
        <p>The legal basis for processing your data is public task article 6(1)(e) of the General Data Protection
            Regulation (GDPR).</p>
    </div>
</div>