[aria-sort] a span,
[aria-sort] a span:hover {
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    color: #005ea5;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 10px 0 0;
    position: relative;
    text-align: inherit;
    margin: 0;
    line-height: normal;
    text-decoration: none;
}

[aria-sort] a span:focus {
    background-color: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    outline: none;
}

[aria-sort]:first-child a span {
    right: auto;
}

[aria-sort] a span::before {
    content: " \25bc";
    position: absolute;
    right: -1px;
    top: 9px;
    font-size: 0.5em;
}

[aria-sort] a span::after {
    content: " \25b2";
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: 0.5em;
}

[aria-sort="ascending"] a span::before,
[aria-sort="descending"] a span::before {
    content: none;
}

[aria-sort="ascending"] a span::after {
    content: " \25b2";
    font-size: 0.8em;
    position: absolute;
    right: -5px;
    top: 2px;
}

[aria-sort="descending"] a span::after {
    content: " \25bc";
    font-size: 0.8em;
    position: absolute;
    right: -5px;
    top: 2px;
}