@page
@model FamilyHubs.Example.Pages.Examples.VisibilityToggle.IndexModel

<h1 class="govuk-heading-l">Visibility toggle</h1>

<div>
    <button data-toggle-visibility-id="to-toggle" class="govuk-button" data-module="govuk-button" type="button">
        Show / hide 1
    </button>

    <div id="to-toggle">
        <p>1. Now you see me</p>
    </div>
</div>

<div>
    <button data-toggle-visibility-id="to-toggle2" class="govuk-button" data-module="govuk-button" type="button">
        Show / hide 2
    </button>

    <div id="to-toggle2">
        <p>2. Now you see me</p>
    </div>
</div>