<h1 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-2">Cookies on Find support for parents, carers and
    young people</h1>

<p>
    Cookies are small files saved on your phone, tablet or computer when you visit a website.
</p>

<p>
    We use cookies to make Find support for parents, carers and young people work and collect information about how you
    use this website.
</p>

<h2 class="govuk-heading-m">Essential cookies</h2>

<p>Essential cookies:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>keep your information secure while you use Find support for parents, carers and young people</li>
    <li>help us understand how you use the website, so we can make improvements</li>
</ul>

<p>We do not need to ask permission to use them.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Expires</th>
    </tr>
    </thead>

    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">service_directory_cookies_policy</td>
        <td class="govuk-table__cell">Saves your cookie consent settings</td>
        <td class="govuk-table__cell">1 year</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">.AspNetCore.Antiforgery.[random number]</td>
        <td class="govuk-table__cell">Prevents malicious activity while you're using the website</td>
        <td class="govuk-table__cell">When you leave the website</td>
    </tr>
    </tbody>
</table>


<h2 class="govuk-heading-m">Analytics cookies (optional)</h2>

<p>
    With your permission, we use Google Analytics and Microsoft Clarity to collect data about how you use Find support
    for parents, carers and young people. This information helps us to improve our service.
</p>

<p>
    Google and Microsoft are not allowed to use or share our analytics data with anyone.
</p>

<p>
    Google Analytics and Microsoft Clarity collect and store anonymised data about:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>how you got to Find support for parents, carers and young people</li>
    <li>the pages you visit on Find support for parents, carers and young people and how long you spend on them</li>
    <li>any errors you see while using Find support for parents, carers and young people</li>
    <li>how you use Find support for parents, carers and young people</li>
</ul>

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Purpose</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Expires</th>
    </tr>
    </thead>

    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            _ga
        </td>
        <td class="govuk-table__cell">
            Helps count how many people visit this site by tracking if you’ve visited before
        </td>
        <td class="govuk-table__cell">
            2 years
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            _ga_[random number]
        </td>
        <td class="govuk-table__cell">
            Generates statistics about how you use the website
        </td>
        <td class="govuk-table__cell">
            2 years
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            _clck
        </td>
        <td class="govuk-table__cell">
            Persists the Clarity User ID and preferences, unique to that site is attributed to the same user ID
        </td>
        <td class="govuk-table__cell">
            12 months
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            _calks
        </td>
        <td class="govuk-table__cell">
            Connects multiple page views by a user into a single Clarity session recording
        </td>
        <td class="govuk-table__cell">
            1 day
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            CLID
        </td>
        <td class="govuk-table__cell">
            Identifies the first-time Clarity saw this user on any site using Clarity
        </td>
        <td class="govuk-table__cell">
            12 months
        </td>
    </tr>
    </tbody>
</table>
