@page "{cacheId}"
@model UserEmail
@{
    ViewData["Title"] = "What's their email address?";
    Model.Errors.ErrorIdToHtmlElementId = _ => "emailAddress";
    var error = Model.Errors.GetErrorIfTriggered();
}

<div class="govuk-hint govuk-!-margin-top-2">
    They will use this to sign in to their account.
</div>

<input class="govuk-input @(error?.InputClass)" id="emailAddress" asp-for="@Model.EmailAddress" type="text" maxlength="255" autocomplete="off" title="Email Address">