@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel
@{
    //todo: if paginated results, should have (page x of n) appended
    //todo: if no results, should be "No results found"
    ViewData["Title"] = "Search results";
}

@section Back {
    <a asp-page="/ProfessionalReferral/Search" class="govuk-back-link" data-testid="back-button">Back</a>
}

<form method="post">

    <!-- Hidden fields -->
    <input asp-for="@Model.Postcode" type="hidden"/>
    <input asp-for="@Model.CorrelationId" type="hidden"/>

    @if (Model.SearchResults.TotalCount == 0 && Model.InitialLoad)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">No results found</h1>
                <p class="govuk-caption-m">
                    Sorry, there are no activities, groups or services listed in your area yet.
                </p>
                <p class="govuk-caption-m">
                    You can <a href="https://www.gov.uk/find-local-council" data-testid="">check your council’s
                        website</a> for your local family support services.
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Services, groups and activities in this area</h1>
                <span class="govuk-caption-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Showing results for: <a asp-page="/ProfessionalReferral/Search">@Model.Postcode</a></span>
            </div>
        </div>
        
        <div class="govuk-grid-row">
            @await Html.PartialAsync("LocalOfferResultsPartialViews/_FiltersSection", Model)
            
            <div class="govuk-grid-column-two-thirds vacancies_index">
                @if (Model.SearchResults.TotalCount == 0)
                {
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/_NoServicesFoundSection")
                }
                else
                {
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/_ResultsSection")
                }
            </div>
        </div>
    }
</form>
