@page

@model DashboardModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
            <span class="govuk-caption-l">@Model.CaptionText</span>
            @Model.Title
        </h1>
        <h2 class="govuk-heading-m">@Model.SubTitle</h2>
    </div>
</div>

<partial name="_Dashboard" model='Model' />