@page
@model FamilyHubs.Example.Pages.Examples.TagHelpers.aModel

<p><a href="https://example.com" new-tab>Link text</a></p>
<p><a asp-page="/Index" new-tab>Homepage</a></p>

<p><a web-page="https://example.com">Web page</a></p>
<p><a web-page="https://example.com"></a></p>

<p><a web-page="https://example.com" new-tab>Web page</a></p>
<p><a web-page="https://example.com" new-tab></a></p>

<p><a email="bob@example.com"></a></p>

<p><a phone="01234 567890"></a></p>
<p><a phone="+44 1234 567890"></a></p>
