@page
@model IndexModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Alternative service</h1>
        <p>This is an alternative service called '@Model.AlternativeServiceName'.</p>
    </div>
</div>
