@page
@model FamilyHubs.Example.Pages.Examples.Styles.IndexModel

<h1>Styles</h1>

<p>
    <button class="fh-button-link">Button as link</button>
</p>

<p>
    <h2 class="app-js-show">Only visible if Javascript enabled</h2>
</p>
