@page
@using System.Runtime.CompilerServices
@model FamilyHubs.Example.Pages.Examples.Time.IndexModel
@{
    Model.Errors.ErrorIdToHtmlElementId = errorId => errorId switch
    {
        (int)TimeErrorId.EnterStartTime => Model.StartTime!.HourElementId,
        (int)TimeErrorId.EnterEndTime => Model.EndTime!.HourElementId,
        (int)TimeErrorId.EnterValidStartTime => Model.StartTime!.FirstInvalidElementId,
        (int)TimeErrorId.EnterValidEndTime => Model.EndTime!.FirstInvalidElementId,
        _ => throw new SwitchExpressionException(errorId)
    };
}

@* note: this example just has the error summary, not the error messages and styling in the form *@
<partial name="_ErrorSummaryNext" model="@Model.Errors" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1>Time example</h1>
        
        @* note: this example doesn't have hints *@

        <form method="post" novalidate>
            <partial name="_Time" model="Model.StartTime" />
            <partial name="_Time" model="Model.EndTime" />
            
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>