name: DotNet Stryker (Full Report)
on:
  push:           # TODO: Temporary while Developing
    branches:     # TODO: Temporary while Developing
      - 'FHB-875' # TODO: Temporary while Developing
  # TODO: Schedule CRON Job
  pull_request:
    paths:
      - '.github/workflows/stryker.yml'

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  stryker-matrix:
    name: Stryker - ${{ matrix.job_name }}
    strategy: 
      fail-fast: false
      matrix:
        working_directory:
          [
            service/notification-api,
            service/idam-api,
            service/service-directory-api,
            service/referral-api,
            service/report-api,
            service/mock-hsda-api,
            function/open-referral-function,
            ui/connect-ui,
            ui/find-ui,
            ui/idam-maintenance-ui,
            ui/manage-ui,
            shared/referral-shared,
            shared/service-directory-shared,
            shared/shared-kernel,
            shared/web-components
          ]
        include:
          - working_directory: service/notification-api
            job_name: "Notification API"
          - working_directory: service/idam-api
            job_name: "IDAM API"
          - working_directory: service/service-directory-api
            job_name: "Service Directory API"
          - working_directory: service/referral-api
            job_name: "Referral API"
          - working_directory: service/report-api
            job_name: "Report API"
          - working_directory: service/mock-hsda-api
            job_name: "Mock HSDA API"
          - working_directory: function/open-referral-function
            job_name: "Open Referral Function"
          - working_directory: ui/connect-ui
            job_name: "Connect UI"
          - working_directory: ui/find-ui
            job_name: "Find UI"
          - working_directory: ui/idam-maintenance-ui
            job_name: "IDAM Maintenance UI"
          - working_directory: ui/manage-ui
            job_name: "Manage UI"
          - working_directory: shared/referral-shared
            job_name: "Referral Shared"
          - working_directory: shared/service-directory-shared
            job_name: "Service Directory Shared"
          - working_directory: shared/shared-kernel
            job_name: "Kernel Shared"
          - working_directory: shared/web-components
            job_name: "Web Components Shared"
    uses: ./.github/workflows/stryker-template.yml
    with:
      working_directory: ${{ matrix.working_directory }}
      job_name: ${{ matrix.job_name }}